@media screen and (min-width: 1280px) {
	#sidebar {
		width: 25vw;
		height: 100vh;
		float: left;
	}
	#main-frame {
		margin-left: 25vw;
		width: 75vw;
	}
	#main {
		padding: 0 15vw;
	}
}
@media screen and (max-width: 1280px) {
	#sidebar {
		width: 100vw;
		height: 75vh;
		float: none;
	}
	#main-frame {
		margin-left: 0;
		width: 100vw;
	}
	#main {
		padding: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	min-width: 1280px;
	min-height: 720px;
}
h1 {
	margin: 0;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: skyblue;
}

#sidebar {
	overflow: auto;

	background-color: #212121;
}
#sidebar-text {
	padding: 2vw;

	color: white;
}
#main-frame {
	height: 100vh;
}
#main {
	width: 960;
}
#main-text {
	padding: 2vw;
}