@font-face {
	font-family: 'd2c';
	src: url(D2Coding.ttf);
}

@media screen and (min-width: 1280px) {
	#sidebar {
		position: fixed;
		width: 25%;
		height: 100vh;
		float: left;
	}
	#main-body {
		margin-left: 25%;
		width: 75%;
	}
	#main {
		padding: 0 20%;
	}
}
@media screen and (max-width: 1280px) {
	#sidebar {
		position: none;
		width: none;
		height: 75vh;
		float: none;
	}
	#main-body {
		margin-left: 0;
		width: none;
	}
	#main {
		padding: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
h1 {
	margin: 0;
}
h2, h3, h4 {
	margin-top: 32px;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #8ff;
}
table, td {
	border: 1px solid #fff;
	border-collapse: collapse;
}
table {
	width: 100%;
}
td {
	padding: 8px;
	text-align: center;
	color: white;
}

#sidebar {
	overflow: auto;
	background-color: #222;
}
#sidebar-text {
	padding: 5%;
	color: #fff;
}
#main-body {
	height: 100vh;
}
#main-text {
	padding: 5%;
}
#last-date {
	font-size: 14px;
	color: #222;
}
#bottombar {
	width: 100%;
	min-height: 8%;
	background-color: #222;
}
#bottombar-text {
	padding: 1%;
	color: #fff;
}

.codebox {
	padding: 16px;
	overflow: auto;
	font-family: d2c;
	color: #fff;
}
.code-body {
	background-color: #222;
}
.code {
	margin: 0;
}
.index:hover {
	background-color: #444;
}
.code-line {
	height: 16px;
}
.code-line:hover {
	background-color: #444;
}
.code-out {
	margin-top: 32px;
}
.table-body {
	padding: 16px;
	overflow: auto;
	background-color: #222;
}
.link {
	color: #000;
}
.link:hover {
	color: #22f;
}

.str {
	color: #f84;
}
.prepro {
	color: #f8f;
}
.type {
	color: #88f;
}
.paren {
	color: #ff0;
}
.var {
	color: #8ff;
}
.esc {
	color: #ff8;
}
.comment {
	color: #080;
}