:root {
	--text-double: calc(var(--text-default) * 2);
	--text-largest: calc(var(--text-default) + 8px);
	--text-larger: calc(var(--text-default) + 4px);
	--text-large: calc(var(--text-default) + 2px);
	--text-default: 16px;
	--text-small: calc(var(--text-default) - 2px);
	--text-smaller: calc(var(--text-default) - 4px);
	--text-smallest: calc(var(--text-default) - 8px);
}

@font-face {
	font-family: "noto-sans";
	src: url(./fonts/noto-sans-kr.ttf);
}
@font-face {
	font-family: "noto-serif";
	src: url(./fonts/noto-serif-kr.ttf);
}
@font-face {
	font-family: "d2c";
	src: url(./fonts/D2Coding.ttf);
}
@font-face {
	font-family: "cmu-normal";
	src: url(./fonts/cmu-roman-mod.ttf)
}
@font-face {
	font-family: "cmu-bold";
	src: url(./fonts/cmu-roman-bold.ttf)
}
@font-face {
	font-family: "cmu-italic";
	src: url(./fonts/cmu-roman-italic.ttf)
}
@media screen and (min-width: 1280px) {
	:root {
		--text-default: 16px
	}
  #Sidebar-body {
    position: fixed;
    width: 20%;
    height: 100vh;
    float: left;
		overflow-y: none;
  }
  #Main-body {
    margin-left: 20%;
    width: 80%;
  }
  #Main-frame {
    padding: 0 20%;
  }
}
@media screen and (max-width: 1280px) {
	:root {
		--text-default: 14px
	}
	#Sidebar-body {
		position: none;
		width: 100%;
		height: 75vh;
		float: none;
		overflow-y: scroll;
	}
	#Main-body {
		margin-left: 0;
		width: 100%;
	}
	#Main-frame {
		padding: 0;
	}
}


body {
	margin: 0;
	padding: 0;
	font-family: "noto-sans";
	font-size: var(--text-default);
}
h1 {
	margin: 0;
}
h2, h3, h4 {
	margin-top: var(--text-default);
}
a {
	text-decoration: none;
}
ul {
	padding-inline-start: var(--text-default);
	list-style-type: none;
}
s {
	color: #888;
}

#Sidebar-body {
  background-color: #222;
}
#Sidebar-text {
  padding: 5%;
  color: #fff;
}

#Main-body {
  min-height: 100vh;
}
#Main-text {
  padding: 5%;
  color: #222;
}
#date {
	font-size: var(--text-small);
	color: #222;
}

.index, .index-foldable {
	display: table;
}
.index::before {
	content: '|';
	padding: 0 var(--text-smallest);
}
.index-foldable::before {
	content: 'L';
	padding: 0 var(--text-smallest);
}
.index:hover, .index-foldable:hover {
	background-color: #444;
}
.index-button {
	display: table-cell;

	margin: 0;
	padding: var(--text-smallest) var(--text-smallest) var(--text-smallest) 0;
	height: 100%;
	width: 100%;
	
  color: #fff;
}
.index-button:hover {
  color: #8ff;
}
.index-content-collapsed {
	display: none;
}

.hyperlink-body {
	display: table;

	margin: 0;
	height: var(--text-double);
}
.hyperlink-img {
	display: table-cell;
	vertical-align: middle;

	margin: 0;
	width: var(--text-double);
	height: var(--text-double);
}
.hyperlink-label {
	display: table-cell;
	vertical-align: middle;

	height: var(--text-double);
	
	font-size: var(--text-default);
}
.hyperlink-link {
	display: table-cell;
	vertical-align: middle;

	height: var(--text-double);
	
	font-size: var(--text-default);
	color: #22f;
}
.hyperlink-link:hover {
	color: #48f;
}

.link {
	color: #22f;
}
.link:hover {
	color: #48f;
}
.maths-frame {
	background-color: #444;
	color: #fff;
	font-family: "cmu-normal", "noto-serif";
	font-size: var(--text-large);
	margin: 0;
	padding: 16px;
	white-space: pre;
	overflow-x: scroll;
}
.maths-body {
	display: table;
}
.maths-element {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0 2px;
}
.maths-power {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: var(--text-small);
}
.maths-punct {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 2px;
	font-size: var(--text-largest);
}
.maths-paren {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 2px;
	font-size: calc(var(--text-largest) * 2);
}
.maths-frac {
	display: table-cell;
	min-width: 32px;
}
.maths-italic {
	font-family: "cmu-italic";
}
.maths-bold {
	font-family: "cmu-bold";
}

.pagelist-body {
	height: calc(var(--text-double) * 4);
	overflow: hidden;
	color: #222;
}
.pagelist-body:hover {
	background-color: #ccc;
}
.pagelist-text {
	margin: var(--text-smallest);
}
.pagelist-title {
	margin: 0;
	font-size: var(--text-larger);
	font-weight: bold;
}
.pagelist-date {
	margin: 0;
}
.pagelist-category {
	margin: 0;
}

.categorypage-title {
	font-weight: bold;
	font-size: var(--text-larger);
}

.codeblock-body {
	background-color: #444;
}
.codeblock-text {
	padding: 16px;
	white-space: pre;
	overflow-x: scroll;
	font-family: "d2c";
	color: #fff;
	line-height: 24px;
}

.codeline {
	padding: 0px 4px;
	background-color: #444;
	font-family: "d2c";
	color: #fff;
}

.code-magenta {
	color: #f8f;
}
.code-blue {
	color: #48f;
}
.code-purple {
	color: #88f;
}
.code-yellow {
	color: #ff0;
}
.code-lightyellow {
	color: #ffc;
}
.code-lightgreen {
	color: #cfc;
}
.code-orange {
	color: #f84;
}
.code-cyan {
	color: #8ff;
}
.code-green {
	color: #482;
}
.code-white {
	color: #fff;
}
.code-gray {
	color: #888;
}
.code-red {
	color: #f44;
}
