@font-face {
	font-family: 'd2c';
	src: url(./D2Coding.ttf);
}
@media screen and (min-width: 1280px) {
  #Sidebar-body {
    position: fixed;
    width: 25%;
    height: 100vh;
    float: left;
  }
  #Main-body {
    margin-left: 25%;
    width: 75%;
  }
  #Main-frame {
    padding: 0 20%;
  }
}
@media screen and (max-width: 1280px) {
	#Sidebar-body {
		position: none;
		width: none;
		height: 75vh;
		float: none;
	}
	#Main-body {
		margin-left: 0;
		width: none;
	}
	#Main-frame {
		padding: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
h1 {
	margin: 0;
}
h2, h3, h4 {
	margin-top: 32px;
}
a {
	text-decoration: none;
}

#Sidebar-body {
  overflow: auto;
  background-color: #222;
}
#Sidebar-text {
  padding: 5%;
  color: #fff;
}

#Main-body {
  height: 100%;
}
#Main-text {
  padding: 5%;
  color: #222;
}
#Lastdate {
	font-size: 14px;
	color: #222;
}

.index:hover {
	background-color: #444;
}
.index-button {
  margin: 0;
  color: #fff;
}
.index-button:hover {
  color: #8ff;
}
.link {
	color: #000;
}
.link:hover {
	color: #22f;
}

.codeblock-body {
	background-color: #222;
}
.codeblock-text {
	padding: 16px;
	font-family: 'd2c';
	color: #fff;
}

.code-magenta {
	color: #f8f;
}
.code-blue {
	color: #48c;
}
.code-yellow {
	color: #ff0;
}
.code-lightyellow {
	color: #ffc;
}
.code-lightgreen {
	color: #cfc;
}
.code-orange {
	color: #f84;
}
.code-cyan {
	color: #8ff;
}